<template>
    <div v-if="categories" class="card">
        <div class="card-header d-flex justify-content-between">
            <span>Categories</span>

            <button @click="showAdd = true" class="btn btn-primary btn-sm">
                Add category
            </button>
        </div>

        <div class="card-body">
            <!-- Таблица категорий -->
            <table v-if="categories.length" class="table table-striped table-bordered table-hover table-sm mb-4">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(category, index) in categories">
                    <th scope="row">{{ ++index }}</th>
                    <td>{{ category.title || 'Untitled' }}</td>
                    <td>
                        <span @click="editCategory(category.id)" class="mr-1 small"><i class="fas fa-pencil-alt"></i></span>
                        <span @click="deleteCategory(category.id)" class="small"><i class="far fa-trash-alt"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <p v-else>No categories</p>
        </div>

        <!-- Форма добавления категории -->
        <div v-if="showAdd" class="form-modal">
            <div>
                <form @submit.prevent="addCategory" class="mb-3">
                    <div class="form-group">
                        <label for="formAddTitle">Title</label>
                        <input v-model="formAdd.title" id="formAddTitle" type="text" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add category</button>
                </form>

                <button @click="closeForm" class="btn btn-secondary">
                    Close form
                </button>
            </div>
        </div>

        <!-- Форма редактирования категории -->
        <div v-if="showEdit" class="form-modal">
            <div>
                <form @submit.prevent="updateCategory" class="mb-3">
                    <div class="form-group">
                        <label for="formUpdateTitle">Title</label>
                        <input v-model="selected.title" id="formUpdateTitle" type="text" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update category</button>
                </form>

                <button @click="closeForm" class="btn btn-secondary">
                    Close form
                </button>
            </div>
        </div>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        categories: null,
        showAdd: false,
        showEdit: false,
        formAdd: {
          title: ''
        },
        selected: {},
      }
    },
    mounted () {
      this.fetchData()
    },
    methods: {
      // Получение категорий
      fetchData () {
        axios.get('/admin/categories/fetch')
          .then(res => {
            this.categories = res.data.categories
          })
          .catch(err => console.log(err))
      },

      // Добавляем категорию
      addCategory() {
        axios.post('/admin/categories', this.formAdd)
          .then(res => {
            // Если в ответе есть категория
            if (res.data.category) {
              // Добавляем в ее конец
              this.categories.push(res.data.category)

              // Закрываем форму
              this.closeForm()
            }
          })
          .catch(err => console.log(err))
      },

      // Редактирование категорию
      editCategory(id) {
        // Копируем выбранную категорию
        Object.assign(this.selected, this.categories.find(el => el.id === id))

        // Показываем форму
        this.showEdit = true
      },

      // Обновляем категорию
      updateCategory() {
        axios.patch(`/admin/categories/${this.selected.id}`, this.selected)
          .then(res => {
            // Если в ответе есть категория
            if (res.data.category) {
              // Перезаписываем существующую
              Object.assign(this.categories.find(el => el.id === this.selected.id), res.data.category)

              // Закрываем форму
              this.closeForm()
            }
          })
          .catch(err => console.log(err))
      },

      // Удаляем категорию
      deleteCategory(id) {
        // Если получено подтверждение
        if (confirm('Are you sure you want to delete the category?')) {
          axios.delete(`/admin/categories/${id}`)
            .then(res => {
              // Если категория удалена
              if(res.data.success) {
                // Убираем ее из списка
                this.categories = this.categories.filter(el => el.id !== id)
              }
            })
        }
      },

      // Закрываем формы и очищаем переменные
      closeForm() {
        this.showAdd = false
        this.showEdit = false

        this.selected = {}

        this.formAdd.title = ''
      }
    }
  }
</script>

<style scoped>
    .form-modal {
        min-width: 100vw;
        min-height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.7);
    }

    .form-modal > div {
        position: relative;
        min-width: 500px;
        background-color: white;
        border: 1px solid #333;
        padding: 20px;
        max-height: 100vh;
        overflow-y: scroll;
    }
</style>