<template>
    <div v-if="posts" class="card">
        <div class="card-header d-flex justify-content-between">
            <span>
                Posts
                <span v-if="posts.last_page > 1">
                    {{ `: page ${posts.current_page} (${posts.from} - ${posts.to})` }}
                </span>
            </span>

            <button @click="showAdd = true" class="btn btn-primary btn-sm">
                Add post
            </button>
        </div>

        <div class="card-body">
            <!-- Таблица публикаций -->
            <table v-if="posts.data.length" class="table table-striped table-bordered table-hover table-sm mb-4">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(post, index) in posts.data">
                    <th scope="row">{{ posts.from + index }}</th>
                    <td>{{ post.title || 'Untitled' }}</td>
                    <td>
                        <span v-for="category in post.categories" class="border border-secondary rounded ml-1 small">
                            {{ category.title }}
                        </span>
                    </td>
                    <td>{{ post.created_at }}</td>
                    <td>{{ post.updated_at }}</td>
                    <td>
                        <span @click="editPost(post.id)" class="mr-1 small"><i class="fas fa-pencil-alt"></i></span>
                        <span @click="deletePost(post.id)" class="small"><i class="far fa-trash-alt"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <p v-else>No posts</p>

            <!-- Пагинация -->
            <nav>
                <ul class="pagination">
                    <li :class="['page-item', !posts.prev_page_url ? 'disabled' : '']">
                        <a class="page-link" @click.prevent="fetchData(--posts.current_page)">Prev</a>
                    </li>

                    <li v-for="page in posts.last_page" :class="['page-item', posts.current_page == page ? 'active' : '']">
                        <a class="page-link" @click.prevent="fetchData(page)">{{ page }}</a>
                    </li>

                    <li :class="['page-item', !posts.next_page_url ? 'disabled' : '']">
                        <a class="page-link" @click.prevent="fetchData(++posts.current_page)">Next</a>
                    </li>
                </ul>
            </nav>

        </div>

        <!-- Форма добавления пудликации -->
        <div v-if="showAdd" class="form-modal">
            <div>
                <form @submit.prevent="addPost" class="mb-3">
                    <div class="form-group">
                        <label for="formAddTitle">Title</label>
                        <input v-model="formAdd.title" id="formAddTitle" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="formAddCategories">Select categories</label>
                        <select v-model="formAdd.categories" multiple class="form-control" id="formAddCategories" required>
                            <option v-for="category in categories" :value="category.id">
                                {{ category.title }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formAddContent">Content</label>
                        <textarea required v-model="formAdd.content" class="form-control" id="formAddContent" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add post</button>
                </form>

                <button @click="closeForm" class="btn btn-secondary">
                    Close form
                </button>
            </div>
        </div>


        <!-- Форма редактирования публикации -->
        <div v-if="showEdit" class="form-modal">
            <div>
                <form @submit.prevent="updatePost" class="mb-3">
                    <div class="form-group">
                        <label for="formUpdateTitle">Title</label>
                        <input v-model="selected.title" id="formUpdateTitle" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="formUpdateCategories">Select categories</label>
                        <select v-model="selected.categories" multiple class="form-control" id="formUpdateCategories" required>
                            <option v-for="category in categories" :value="category.id">
                                {{ category.title }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formUpdateContent">Content</label>
                        <textarea required v-model="selected.content" class="form-control" id="formUpdateContent" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update post</button>
                </form>

                <button @click="closeForm" class="btn btn-secondary">
                    Close form
                </button>
            </div>
        </div>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        posts: null,
        categories: null,
        showAdd: false,
        showEdit: false,
        formAdd: {
          title: '',
          content: '',
          categories: []
        },
        selected: {},
      }
    },
    mounted () {
      this.fetchData()
    },
    methods: {
      // Получение публикаций и списка категорий
      fetchData (page = 1) {
        axios.get(`/admin/posts/fetch?page=${page}`)
          .then(res => {
            this.posts = res.data.posts
            this.categories = res.data.categories
          })
          .catch(err => console.log(err))
      },

      // Добавляем публикацию
      addPost() {
        axios.post('/admin/posts', this.formAdd)
          .then(res => {
            // Если в ответе есть публикация
            if (res.data.post) {
              // Добавляем в ее начало и удаляем последнюю
              this.posts.data.unshift(res.data.post)
              this.posts.data.pop()

              // Закрываем форму
              this.closeForm()
            }
          })
          .catch(err => console.log(err))
      },

      // Редактирование публикации
      editPost(id) {
        // Копируем выбранную публикацию
        Object.assign(this.selected, this.posts.data.find(el => el.id === id))
        // Преобразуем категории в список с id
        this.selected.categories = this.selected.categories.map(el => el = el.id)

        // Показываем форму
        this.showEdit = true
      },

      // Обновляем публикацию
      updatePost() {
        axios.patch(`/admin/posts/${this.selected.id}`, this.selected)
          .then(res => {
            // Если в ответе есть публикация
            if (res.data.post) {
              // Перезаписываем существующую
              Object.assign(this.posts.data.find(el => el.id === this.selected.id), res.data.post)

              // Закрываем форму
              this.closeForm()
            }
          })
          .catch(err => console.log(err))
      },

      // Удаляем публикацию
      deletePost(id) {
        // Если получено подтверждение
        if (confirm('Are you sure you want to delete the post?')) {
          axios.delete(`/admin/posts/${id}`)
            .then(res => {
              // Если публикация удалена
              if(res.data.success) {
                // Обновляем список
                this.fetchData(this.posts.current_page)
              }
            })
        }
      },

      // Закрываем формы и очищаем переменные
      closeForm() {
        this.showAdd = false
        this.showEdit = false

        this.selected = {}

        this.formAdd.title = ''
        this.formAdd.content = ''
        this.formAdd.categories = []
      }
    }
  }
</script>

<style scoped>
    .form-modal {
        min-width: 100vw;
        min-height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.7);
    }

    .form-modal > div {
        position: relative;
        min-width: 500px;
        background-color: white;
        border: 1px solid #333;
        padding: 20px;
        max-height: 100vh;
        overflow-y: scroll;
    }
</style>